@import "tailwindcss";

@keyframes floatGlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-floatGlow {
  animation: floatGlow 4s ease-in-out infinite;
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-floatY {
  animation: floatY 5s ease-in-out infinite;
}
